<template>
  <div class="Footer">
    <!--<footer class="page_footer ds ms s-py-90 s-pb-lg-60 s-pt-xl-150 s-pb-xl-120">-->
    <!--<div class="container">-->
    <!--<div class="row align-center">-->
    <!--<div class="col-xl-5 col-lg-5 text-center text-lg-left animate" data-animation="fadeInUp">-->
    <!--<a href="./" class="logo">-->
    <!--<img src="@/images/logo.png" alt="img">-->
    <!--<span class="logo-text color-darkgrey">vedi</span>-->
    <!--</a>-->
    <!--<div class="divider-60 divider-lg-0"></div>-->
    <!--</div>-->
    <!--<div class="col-xl-2 col-lg-2 align-self-start text-center text-lg-left animate"-->
    <!--data-animation="fadeInUp">-->
    <!--<div class="widget widget_nav_menu">-->
    <!--<h3>Services</h3>-->
    <!--<ul class="menu">-->
    <!--<li class="menu-item">-->
    <!--<a href="./shop-left.html">Shop</a>-->
    <!--</li>-->
    <!--<li class="menu-item">-->
    <!--<a href="./services2.html">Services</a>-->
    <!--</li>-->
    <!--<li class="menu-item">-->
    <!--<a href="./service-single.html">Single Service</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<div class="divider-60 divider-lg-0"></div>-->
    <!--</div>-->
    <!--<div class="col-xl-2 col-lg-2 align-self-start text-center text-lg-left animate"-->
    <!--data-animation="fadeInUp">-->
    <!--<div class="widget widget_nav_menu">-->
    <!--<h3>About Me</h3>-->
    <!--<ul class="menu">-->
    <!--<li class="menu-item">-->
    <!--<a href="./index_blocks.html">Homeblocks</a>-->
    <!--</li>-->
    <!--<li class="menu-item">-->
    <!--<a href="./about.html">About</a>-->
    <!--</li>-->
    <!--<li class="menu-item">-->
    <!--<a href="./contact.html">Contact Us</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<div class="divider-60 divider-lg-0"></div>-->
    <!--</div>-->
    <!--<div class="col-xl-3 col-lg-3 align-self-start text-center text-lg-left animate"-->
    <!--data-animation="fadeInUp">-->
    <!--<div class="widget widget_text">-->
    <!--<h3>Contact Info</h3>-->
    <!--<p>-->
    <!--477 Jehovah Drive <br>-->
    <!--Lexington, VA 24450-->
    <!--</p>-->
    <!--<p class="social-icons">-->
    <!--<a href="https://www.facebook.com/" class="fa fa-facebook" title="facebook"></a>-->
    <!--<a href="https://twitter.com/" class="fa fa-twitter" title="twitter"></a>-->
    <!--<a href="https://www.instagram.com/" class="fa fa-instagram" title="instagram"></a>-->
    <!--<a href="https://www.linkedin.com/" class="fa fa-linkedin" title="linkedin"></a>-->
    <!--<a href="https://www.youtube.com/" class="fa fa-youtube-play" title="youtube"></a>-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->
    <!--</footer>-->
    <section class="page_copyright ds ms s-py-25 s-bordertop-container">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12 text-center">
            <p>&copy; Copyright <span class="copyright_year">2020</span> All Rights Reserved</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>

export default {
  name: `Footer`
};
</script>