<template>
  <section class="ds s-py-45 s-py-xl-75 c-gutter-60">
    <div class="container">
      <div class="row">
        <main class="col-lg-12">
          <article>
            <!-- <header class="entry-header">
              <h1 class="entry-title">{{ getCurrentCategory.subtitle }}</h1>
            </header>-->
            <!-- .entry-header -->
            <div class="entry-content">
              <div class="woocommerce">
                <div class="woocommerce-MyAccount-content">
                  <form
                    id="child-form"
                    role="form"
                    style="display: block;"
                  >
                    <p
                      class="mm-font __mm"
                      align="center"
                    >အောက်ပါပေးထားသော Form အချက်အလက်များကို ဖြည့်ပေးပါ</p>
                    <label class="form-group">
                      <span class="mm-font __mm">အမည်</span>
                      <input
                        type="text"
                        class="form-control"
                        name="name"
                        v-model="direct.name"
                        required
                      />
                    </label>
                    <label class="form-group">
                      <span class="mm-font __mm">မွေးသက္ကရာဇ်</span>
                      <input
                        type="date"
                        class="form-control"
                        name="birth_date"
                        v-model="direct.birth_date"
                        required
                      />
                    </label>
                    <label class="form-group">
                      <span class="mm-font __mm">နေ့နံ</span>
                      <select
                        class="form-control"
                        name="nyih_nan"
                        v-model="direct.nyih_nan"
                        required
                      >
                        <option
                          value="တနင်္ဂနွေ"
                          class="__mm"
                        >တနင်္ဂနွေ</option>
                        <option
                          value="တနင်္လာ"
                          class="__mm"
                        >တနင်္လာ</option>
                        <option
                          value="အင်္ဂါ"
                          class="__mm"
                        >အင်္ဂါ</option>
                        <option
                          value="ဗုဒ္ဓဟူး"
                          class="__mm"
                        >ဗုဒ္ဓဟူး</option>
                        <option
                          value="ရာဟု"
                          class="__mm"
                        >ရာဟု</option>

                        <option
                          value="ကြာသပတေး"
                          class="__mm"
                        >ကြာသပတေး</option>
                        <option
                          value="သောကြာ"
                          class="__mm"
                        >သောကြာ</option>
                        <option
                          value="စနေ"
                          class="__mm"
                        >စနေ</option>
                      </select>
                    </label>
                    <input
                      type="radio"
                      name="marital_status"
                      value="Yes"
                      v-model="direct.marital_status"
                      required
                    />
                    <span
                      for
                      class="mm-font __mm"
                    >အိမ်ထောင်ရှိ</span>
                    <input
                      type="radio"
                      name="marital_status"
                      value="No"
                      v-model="direct.marital_status"
                      required
                    />
                    <span
                      for
                      class="mm-font __mm"
                    >အိမ်ထောင်မရှိ</span>
                    <br />
                    <br />
                    <label class="form-group">
                      <span
                        for
                        class="mm-font __mm"
                      >နေထိုင်သည့်မြို့</span>
                      <input
                        type="text"
                        class="form-control"
                        name="address"
                        v-model="direct.address"
                        required
                      />
                    </label>
                    <input
                      type="radio"
                      name="gender"
                      value="male"
                      v-model="direct.gender"
                      required
                    />
                    <span
                      for
                      class="mm-font __mm"
                    >ကျား</span>
                    <input
                      type="radio"
                      name="gender"
                      value="female"
                      v-model="direct.gender"
                      required
                    />
                    <span
                      for
                      class="mm-font __mm"
                    >မ</span>
                    <br />
                    <br />
                    <!-- <br />
                    <br /> -->
                    <label class="form-group">
                      <span class="mm-font __mm">ဗေဒင်ဆရာ</span>
                      <select
                        name="baydin_sayar"
                        class="mm-font __mm"
                        v-model="direct.baydin_sayar"
                        required
                      >
                        <option
                          value=" "
                          class="mm-font __mm"
                        >ဗေဒင်ဆရာ ရွေးချယ်ပါ...</option>
                        <option value="ဆရာမ သန့်ထားဆု">ဆရာမ သန့်ထားဆု</option>
                        <option
                          value="ဆရာ ကျော်ဇောဟန်"
                          class="__mm"
                        >ဆရာ ကျော်ဇောဟန်</option>
                        <option
                          value="ဆရာ မင်းသိမ်းခိုင်"
                          class="__mm"
                        >ဆရာ မင်းသိမ်းခိုင်</option>
                        <option
                          value="ဆရာမ စောလှနွယ်နီ"
                          class="__mm"
                        >ဆရာမ စောလှနွယ်နီ</option>
                        <option
                          value="ဆရာ မိုးမင်းသုခ"
                          class="__mm"
                        >ဆရာ မိုးမင်းသုခ</option>
                        <option
                          value="ဆရာမ စောယုထွေး"
                          class="__mm"
                        >ဆရာမ စောယုထွေး</option>
                        <option
                          value="ဆရာမ ယွန်းပိုးအိ"
                          class="__mm"
                        >ဆရာမ ယွန်းပိုးအိ</option>
                        <option
                          value="ဆရာမ ဝင့်ယမုံဦး"
                          class="__mm"
                        >ဆရာမ ဝင့်ယမုံဦး</option>
                      </select>
                    </label>
                    <label class="form-group">
                      <span
                        for
                        class="mm-font __mm"
                      >ဆက်သွယ်ရမည့်ဖုန်းနံပါတ်</span>
                      <input
                        type="text"
                        class="form-control"
                        name="phone_number"
                        v-model="direct.phone_number"
                        required
                      />
                    </label>

                    <p class="mm-font __mm">မေးလိုသည့်ကဏ္ဍကို ရွေးချယ်ပါ။</p>

                    <div
                      class="container options"
                      ref="input"
                    >
                      <label
                        class="form-check-label customcheck"
                        v-for="type in types"
                        :key="type.id"
                      >
                        <input
                          class="form-check-input"
                          type="checkbox"
                          :value="type.name"
                          name="services[]"
                          v-model="direct.services"
                          :checked="categoryName === type.name"
                          @click="toggle(type)"
                        />
                        <span class="checkmark"></span>
                        <span class="mm-font __mm">{{ type.mm_name }}</span>
                      </label>
                    </div>
                    <br />
                    <br />
                    <p class="mm-font __mm">မေးမြန်းလိုသည့်အကြာင်းအရာကိုရေးပါ။</p>
                    <label class="form-group">
                      <textarea
                        name="about"
                        class="mm-font test"
                        rows="10"
                        cols="35"
                        placeholder
                        style="color: black;"
                        v-model="direct.about"
                        required
                      ></textarea>
                    </label>

                    <p
                      class="mm-font"
                      id="price"
                    >ဉာဏ်ပူဇော်ခ {{ direct.price }}ကျပ် ဖြစ်ပါသည်။ ငွေပေးချေမှုအောင်မြင်ပြီးပါက နှစ်ရက်အတွင်း ပြန်လည်ဖြေကြားပေးပါမည်။</p>
                    <p>
                      <input
                        type="submit"
                        @click.prevent="precreate()"
                        :disabled="disabled"
                        class="woocommerce-Button button mm-font __mm"
                        name="save_account_details"
                        value="အတည်ပြုမည်"
                      />
                    </p>
                  </form>
                </div>
              </div>
            </div>
            <!-- .entry-content -->
          </article>
        </main>
      </div>
    </div>
  </section>
</template>

<script>
import types from '@core/i18n/resource/direct_types.json'
import { mapGetters } from "vuex";
import { Horo, HTTP } from "@core/lib/http-common";
import { getFormData, checkFormModel } from "@core/lib/form-data"
export default {
  name: `Special`,
  data () {
    return {
      types: [],
      selected: {},
      disabled: false,
      direct: {
        name: '',
        birth_date: '',
        nyih_nan: '',
        address: '',
        phone_number: '',
        order_id: '0',
        gender: '',
        user_id: '0',
        services: [],
        about: '',
        baydin_sayar: '',
        marital_status: '',
        price: 0,
      }
    }
  },
  created () {
    this.types = types;
  },
  mounted () {
    for (let type of types) {
      if (type.name === this.categoryName) {
        this.selected[type.name] = true
        this.direct.services.push(this.categoryName)
        this.direct.price = type.price
      } else {
        this.selected[type.name] = false
      }

    }
  },
  computed: {
    categoryName () {
      return this.$route.params.categoryName
    },
    ...mapGetters({
      getUserToken: 'userStore/getUserToken',
      getResponse: 'userStore/getResponse',
    })
  },
  methods: {
    toggle (type) {
      if (!this.selected[type.name]) {
        this.direct.price += type.price
        this.direct.services.push(type.name)
      } else {
        this.direct.price -= type.price
        this.direct.services = this.direct.services.filter(item => item !== type.name)
      }
      this.selected[type.name] = !this.selected[type.name];
    },
    precreate () {
      if (checkFormModel(this.direct)) {
        this.disabled = true
        HTTP.defaults.headers.Authorization = `Bearer ${this.getUserToken}`
        HTTP.post("subscription/precreate", {
          'category_id': 0,
          'amount': this.direct.price,
          'category_name': 'direct'
        }).then((response) => {
          const res = response.data
          this.direct.order_id = res.order_id
          this.direct.user_id = res.user_id
          let formdata = getFormData(this.direct)
          formdata.append('user_phone', this.getResponse.customer_info.msisdn)
          Horo.post("1875/direct/horoscope", formdata).then((response) => {
            this.res_status = response.data.status
            this.kbzpay.startPay(res.prepay_id, res.order_info, res.sign_app,
              ({ resultCode, lang }) => {
                if (resultCode == 1) {
                  if (lang == 'en') {
                    this.$swal('Success', 'Your Purchase Success', 'success');
                    this.$router.push({ name: 'home' })
                  }
                  if (lang == 'my') {
                    this.$swal('အောင်မြင်ပါသည်', 'ဝယ်ယူပြီးပါပြီ', 'success');
                    this.$router.push({ name: 'home' })
                  }
                }
                if (resultCode == 2) {
                  if (lang == 'en') {
                    this.$swal('Failed', 'Your Purchase Failed', 'error');
                    this.disabled = false;
                  }
                  if (lang == 'my') {
                    this.$swal('မအောင်မြင်ပါ', 'ထပ်မံကြိုးစားပေးပါ', 'error');
                    this.disabled = false;
                  }
                }


              },
              () => {
                this.$swal('Failed', 'Your Purchase Failed', 'error');
                this.disabled = false;
              })
          })
        }).catch(error => {
          console.log(error)
          this.message = 'Something went wrong'
        });
      }
      else {
        this.$swal('Oops', 'You need to fill all fields', 'error');
      }


    }
  }
};
</script>

<style scoped>
input[type="radio"] {
  display: inline;
  margin-top: 8px;
  margin-left: 3px;
}
input[type="checkbox"] {
  display: inline;
  margin-top: 8px;
}

label {
  display: block;
}
</style>
